@charset "utf-8";
// @import "/src/assets/scss/GlobalVariable.scss";

html,
body {
  width: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0px;
  background: #fff7f8;
  color: var(--primary-01-lf-black, #000);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleBoxWrap {
  position: relative;
}
.titleBox {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.title {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}
.tooltipMark {
  margin-bottom: 3px;
  cursor: pointer;
}

.summary {
  margin: 0;
  margin-bottom: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.tagSlide {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #f7d6d6;
  background: #fff;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
  white-space: nowrap;

  &.active {
    background: #f7d6d6;
  }
}

//swiper 이슈
.wrap {
  width: 100%;
  border: 1px solid red;
  // max-width: 400px;
  // overflow: visible;
}
// .swiper {
//   width: 100%;
//   // overflow: visible;
//   overflow: hidden;
//   cursor: pointer;
// }
.swiper-slide {
  //버튼 사이즈 -- 부모 동일
  width: auto !important;
  margin-right: 5px !important;
}
.wrap :global(.swiper) {
  width: 100%;
  max-width: 400px;
  // overflow: visible;
  overflow: hidden;
  cursor: pointer;
}
// swiper 가능 영역 확장
.wrap :global(.swiper-wrapper) {
  padding: 30px 0 !important;
}
.wrap :global(.swiper-slide) {
  //버튼 사이즈 -- 부모 동일
  width: auto !important;
  margin-right: 5px !important;
}
.wrap :global(.swiper-wrapper > .swiper-slide:last-child) {
  margin-right: 0 !important;
}

// 툴팁 - 팝업 관련
.tootipButton {
  position: relative;
}

.tooltipPopoverList {
  li {
    word-break: keep-all;
    // word-break: break-all;
    position: relative;
    margin-bottom: 4px;
    padding-left: 9px;
    color: #000;
    // @include mixinMobileFont(14);
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: #000;
      border-radius: 0;
    }
  }
}

// popover 관련 global-css 통제
:global(.ReactModal__Overlay[class*="mcPopoverOverlay"]) {
  margin-top: 30px !important;
}
